* {
  font-family: "Cantarell";
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  border: 1px solid rgb(64, 70, 245);
  border-radius: 5px;
  margin: 2rem;
  padding: 1rem;
  width: 300px;
}

.card-title {
  display: flex;
  justify-content: center;
  font-weight: 350;
}

.card-date {
  color: #b3b8c0;
  font-size: 1em;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 1em;
}

.card-time {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e1e5eb;
}

.btn {
  margin: 0.5em;
  background-color: #fff;
  border: 1px solid #4046f5;
  padding: 1em;
  cursor: pointer;
  font-weight: 300;
  font-size: 0.9rem;
  color: #4046f5;
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1),
}

.btn:hover {
  color: #fff;
  background-color: #4046f5;
  border-color: #4046f5;
}
