.wrapper {
  display: flex;
  flex-direction: column;
}
.label {
  color: rgb(64, 70, 245);
  font-size: 2rem;
  padding: 1rem;
}

.loginForm {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  max-width: 600px;
}
.input {
  height: 40px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  color: rgb(64, 70, 245);
  border: 1px solid rgb(64, 70, 245);
}
.input::placeholder {
  color: rgb(64, 70, 245);
}
.input:hover {
  border: 1px solid rgb(64, 70, 245);
}
.submit {
  height: 45px;
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  color: white;
  border: 1px solid rgb(64, 70, 245);
  font-weight: bold;
  text-align: center;
}

.submit:hover {
  background-color: rgb(64, 70, 245);
  color: white;
}
.submit a {
  text-decoration: none;
}
.home-card-header h1 {
  border: 1px solid rgb(64, 70, 245);
  display: flex;
  color: rgb(64, 70, 245);
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 2%;
  padding: 1%;
}
.home-card-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.leaderboard-container{
  margin: 5%;
  justify-content:center;
  align-items: center;
  align-content: center;
}
.leaderboard-header{
  display: flex;
  width: 50%;
  
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  border: 1px solid rgb(64, 70, 245);
  padding: 1%;
}
table {
  border: 1px solid rgb(64, 70, 245);
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding-bottom: 1%;
}
th {
  padding: 1%;
  color: rgb(64, 70, 245);
  border-bottom:  1px solid rgb(64, 70, 245);
}
td {
  text-align: center;
  padding: 1%;
}


.poll-container{
  margin: 2%;
}
.poll-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.poll-header-img{
  width: 30px;
  margin: 10px;
  height: 30px;
}
.poll-options{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.poll-options-item {
  border: 1px solid rgb(64, 70, 245);
  background-color: white;
  color: rgb(64, 70, 245);
  display: flex;
  margin: 1%;
  font-size: 18px;
  padding: 1%;
  justify-content: center;
  flex-direction: column;
}
.poll-options :hover {
  background-color: rgb(64, 70, 245);
  color: #fff;
}
.poll-options-item-done{
  display: flex;
}
.poll-options-done{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 2%;
  margin: 2%;
  border: 1px solid rgb(64, 70, 245);
  align-content: center;
  justify-content: center;
}
.newpoll-container{
  margin: 5%;
  width: 100%;
  justify-content: center;
}
.newpoll-options{
  display: flex;
  border: 1px solid rgb(64, 70, 245);
  width: 30%;
  margin:20px;
  border-radius: 4px;
  padding: 1%;
}
.newpoll-header{
  margin-top: 1%;
  margin:20px;
}
.newpoll-submit { 
  display: flex;
  border: 1px solid rgb(64, 70, 245);
  width: 30%;
  margin:20px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1%;
  height: 50px;
  background-color: white;
  color: rgb(64, 70, 245);
}
.PageNotFound-container{
  margin: 5%;
  
}

.PageNotFound-text{
  font-size: 25px;
  color: rgb(64, 70, 245);
}

.leaderboard-table-avatar{
  width: 70px;
  height: 70px;
}
.home-hide-text{
  margin:30px;
}