*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    text-decoration: none;
    justify-content: space-between;
    border-bottom: 1.2px solid rgb(64, 70, 245);
}

.nav-left{
    justify-content: center;
    width: 30%;
}

.nav-right{
    justify-content: center;
    width: 20%;
}
.nav-items{
    padding: 2rem 0rem 2rem;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    color:rgb(64, 70, 245);
}
.item{
    text-decoration: none;
 }
.nav-items-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav-items-user-avatar{
    width: 30px;
    height: 30px;
}
.nav-items-user-name{
    margin-left: 10px;
}